<!DOCTYPE html>

<html>

<head>
    <link rel='stylesheet' href='/css/styles.css'>
</head>

<body>
    <div class='container'>
        {{>header}}
        <image
            src='https://media.istockphoto.com/vectors/colorful-typography-banner-vector-id1211014214?k=6&m=1211014214&s=612x612&w=0&h=h-VR67czU8QFWHlpYIJf_Q34XkWQjQzaD8-Yqg7tD6w=' />

    </div>


    {{>footer}}
</body>

</html>